$primary: #ff0000;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dFlex {
  display: flex;

  align-items: center;
}
:root {
  /* Colors: */
  --unnamed-color-181a27: #181a27;
  --unnamed-color-090d17: #090d17;
  --unnamed-color-17b241: #17b241;

  /* Font/text values */
  --unnamed-font-family-sf-compact-display: SF Compact Display;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-9: 9px;
  --unnamed-font-size-11: 11px;
  --unnamed-font-size-12: 12px;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-24: 24px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-12: 12px;
  --unnamed-line-spacing-15: 15px;
  --unnamed-line-spacing-16: 16px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-line-spacing-21: 21px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-32: 32px;
}

//////////////////// Header Section ////////////////////
.header {
  @extend .dFlex;
  // flex-wrap: wrap;
  .header-logo {
    @extend .dFlex;
    justify-content: center;
    width: 320px;
    height: 128px;
    background: transparent url("../Images/Group 3@2x.png") 0% 0% no-repeat
      padding-box;
  }
  .top-nav-header {
    width: 1600px;
    .top-header {
      height: 48px;
      background: #111111 0% 0% no-repeat padding-box;
      opacity: 1;
      color: #eeeeee;
      @extend .dFlex;
      justify-content: space-between;
      .info-header {
        @extend .dFlex;
        div {
          @extend .dFlex;
        }
      }
      .social-icon {
        @extend .dFlex;
        div {
          border-left: #2a2a2a 1px solid;
          height: 100%;
          padding: 12px;
        }
      }
    }
    .nav-header {
      @extend .dFlex;
      justify-content: flex-end;

      height: 80px;
      .sub-nav-header {
        @extend .dFlex;
        .navbar {
          @extend .dFlex;
          justify-content: space-around;
          width: 516px;
          height: 21px;
          border: #ff0000 2px solid;
          div {
            width: 69px;
            height: 21px;
            font: var(--unnamed-font-style-normal) normal
              var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
              var(--unnamed-line-spacing-21) Futura;
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: left;
            font: normal normal normal 16px/21px Futura;
            letter-spacing: 0px;
            color: #000000;
            text-transform: uppercase;
            opacity: 1;
          }
        }
        .search-icon {
          width: 81px;
          height: 80px;
          border-left: 1px solid #eeeeee;
        }
        .sidebar-icon {
          @extend .dFlex;
          justify-content: center;
          width: 81px;
          height: 80px;
          background: #e41c26 0% 0% no-repeat padding-box;
        }
      }
    }
  }
}

//////////////////// Category Section ////////////////////

.Category {
  @extend .dFlex;
  //  flex-wrap: wrap;

  .progression {
    @extend .dFlex;
    position: relative;
    justify-content: flex-end;
    width: 672px;
    height: 391px;
    background: hsl(0, 0%, 13%) 0% 0% no-repeat padding-box;
    .back-image {
      width: 166px;
      height: 148px;
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: 0.1;
    }
    .progression-box {
      width: 254px;
      text-align: center;
      margin-right: 49px;
      border: #eeeeee 1px solid;
    }
  }
  .workout {
    @extend .dFlex;
    position: relative;
    justify-content: center;
    width: 576px;
    height: 391px;
    background: #eeeeee 0% 0% no-repeat padding-box;
    .back-image {
      width: 148px;
      height: 148px;
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: 0.1;
    }
    .workout-box {
      width: 254px;
      text-align: center;

      border: #eeeeee 1px solid;
    }
  }
  .nutrition {
    @extend .dFlex;
    position: relative;
    width: 672px;
    height: 391px;
    background: #e41c26 0% 0% no-repeat padding-box;
    .back-image {
      width: 113px;
      height: 148px;
      position: absolute;
      left: 241px;
      bottom: 0;
      opacity: 0.2;
    }
    .nutrition-box {
      width: 254px;
      text-align: center;
      margin-right: 50px;
      border: #eeeeee 1px solid;
      margin-left: 50px;
    }
  }
}

//////////////////// Reviews Section ////////////////////

.reviews {
  @extend .dFlex;
  justify-content: center;

  .reviews-box {
    @extend .dFlex;
    justify-content: center;
  }
  .reviews-box {
    .first-box {
      margin-right: 147px;
      .box1 {
        width: 125px;
        height: 22px;
        text-align: left;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) 17px/22px SF Pro Display;
        font: normal normal bold 17px/22px SF Pro Display;
        letter-spacing: 1.27px;
        color: #5e5e5e;
        text-transform: uppercase;
        opacity: 1;
      }
      .box2 {
        width: 383px;
        height: 146px;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) 59px/67px Futura;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal bold 59px/67px Futura;
        letter-spacing: 0px;
        color: #000000;
        text-transform: capitalize;
      }
      .box3 {
        width: 105px;
        height: 24px;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
          var(--unnamed-line-spacing-24) SF Pro Display;
        text-align: left;
        font: normal normal normal 18px/24px SF Pro Display;
        letter-spacing: 1.35px;
        color: #7e7e7e;
        text-transform: capitalize;
        margin-bottom: 10px;
      }
      .box4 {
        width: 300px;
        height: 30px;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) 22px/30px SF Pro Display;
        text-align: left;
        font: normal normal bold 22px/30px SF Pro Display;
        letter-spacing: 1.65px;
        color: #000000;
        text-transform: uppercase;
        margin-bottom: 4px;
      }
      .box5 {
        width: 13px;
        height: 13px;
        background: transparent url("../Images/Icon awesome-star.png") 0% 0%
          no-repeat padding-box;
        margin-bottom: 44px;
      }
      .box6 {
        width: 521px;
        height: 137px;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) / 28px
          Futura;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal medium 18px/28px Futura;
        letter-spacing: 0px;
        color: #7e7e7e;
      }
      .box {
        width: 186px;
        height: 5px;
        background: #e41c26 0% 0% no-repeat padding-box;
        margin-bottom: 46px;
      }
    }
  }
}

//////////////////// Choose Us Section ////////////////////

.chooseus {
  position: relative;
  width: 1920px;
  height: 908px;
  @extend .dFlex;
  justify-content: center;
  background: #111111 0% 0% no-repeat padding-box;
  .main-content {
    width: 100%;
    @extend .dFlex;
    justify-content: center;
    flex-direction: column;
    // border: #17b241 2px solid;
    .line1 {
      width: 186px;
      height: 5px;
      background: #e41c26 0% 0% no-repeat padding-box;
      position: relative;
      bottom: 20px;
    }
    .box1 {
      width: 600px;
      height: 79px;
      margin-bottom: 22px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 59px/79px Futura;
      letter-spacing: var(--unnamed-character-spacing-0);
      text-align: center;
      font: normal normal bold 59px/79px Futura;
      letter-spacing: 0px;
      color: #ffffff;
      text-transform: uppercase;
      opacity: 1;
      z-index: 20;
    }
    .box2 {
      width: 588px;
      height: 128px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 96px/128px SF Pro Display;
      text-align: center;
      font: normal normal bold 96px/128px SF Pro Display;
      letter-spacing: 18.72px;
      color: #5e5e5e;
      text-transform: uppercase;
      position: absolute;
      left: 600px;
      top: 140px;
      z-index: 10;
    }
    .box3 {
      width: 821px;
      height: 59px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-medium) 20px/27px Futura;
      letter-spacing: var(--unnamed-character-spacing-0);
      text-align: center;
      font: normal normal medium 20px/27px Futura;
      letter-spacing: 0px;
      color: #d1d1d1;
      margin-bottom: 109px;
    }
    .box4 {
      @extend .dFlex;
      justify-content: center;
      // border: #ff0000 2px solid;
      width: 100%;

      .tops {
        @extend .dFlex;
        flex-direction: column;
        justify-content: center;
        border: #eee9e9 1px solid;
        width: 299px;
        height: 300px;
        margin-right: 30px;
        .tops1 {
          width: 54px;
          height: 30px;
          margin-bottom: 21px;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) 22px/30px Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal bold 22px/30px Futura;
          letter-spacing: 0px;
          color: #ffffff;
          text-transform: uppercase;
        }
        .tops2 {
          width: 91px;
          height: 99px;
          margin-bottom: 23.5px;
          background: transparent url("../Images/Group 22.svg") 0% 0% no-repeat
            padding-box;
        }
        .tops3 {
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) / 28px
            Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal medium 18px/28px Futura;
          letter-spacing: 0px;
          color: #d1d1d1;
        }
      }
      .bottoms {
        @extend .dFlex;
        flex-direction: column;
        justify-content: center;
        border: #eee9e9 1px solid;
        margin-right: 30px;
        width: 299px;
        height: 300px;
        .bottoms1 {
          width: 106px;
          height: 30px;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) 22px/30px Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal bold 22px/30px Futura;
          letter-spacing: 0px;
          color: #ffffff;
          text-transform: uppercase;
          margin-bottom: 21px;
        }
        .bottoms2 {
          margin-bottom: 23px;
          width: 56px;
          height: 99px;
          background: transparent url("../Images/Group 22(1).svg") 0% 0%
            no-repeat padding-box;
        }
        .bottoms3 {
          width: 265px;
          height: 77px;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) / 28px
            Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal medium 18px/28px Futura;
          letter-spacing: 0px;
          color: #d1d1d1;
        }
      }
      .hoodies {
        @extend .dFlex;
        flex-direction: column;
        justify-content: center;
        border: #eee9e9 1px solid;
        margin-right: 30px;
        width: 299px;
        height: 300px;
        .hoodies1 {
          width: 306px;
          height: 30px;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) 22px/30px Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal bold 22px/30px Futura;
          letter-spacing: 0px;
          color: #ffffff;
          text-transform: uppercase;
          margin-bottom: 21px;
        }
        .hoodies2 {
          margin-bottom: 23px;
          width: 85px;
          height: 98px;
          background: transparent url("../Images/Group 22(2).svg") 0% 0%
            no-repeat padding-box;
        }
        .hoodies3 {
          width: 265px;
          height: 77px;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) / 28px
            Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal medium 18px/28px Futura;
          letter-spacing: 0px;
          color: #d1d1d1;
        }
      }
      .accessories {
        @extend .dFlex;
        flex-direction: column;
        justify-content: center;
        border: #eee9e9 1px solid;

        width: 299px;
        height: 300px;
        .accessories1 {
          width: 306px;
          height: 30px;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) 22px/30px Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal bold 22px/30px Futura;
          letter-spacing: 0px;
          color: #ffffff;
          text-transform: uppercase;
          margin-bottom: 21px;
        }
        .accessories2 {
          margin-bottom: 23px;
          width: 100px;
          height: 76px;
          background: transparent url("../Images/Group 22(3).svg") 0% 0%
            no-repeat padding-box;
        }
        .accessories3 {
          width: 265px;
          height: 77px;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) / 28px
            Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal medium 18px/28px Futura;
          letter-spacing: 0px;
          color: #d1d1d1;
        }
      }
    }
  }
}
