* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dFlex, .review-swiper .box5, .mySwiper .swiper-box, .slide-show .slider-content .slider-content-sub div:nth-child(4), .footer .footer2, .footer .footer1, .subscribe .subscribe-box .subscribe-subbox .subscribe-subbox2, .subscribe .subscribe-box .subscribe-subbox, .subscribe .subscribe-box, .blog .blog3 .blog3-box .blog3-info .blog3-info4, .blog .blog3 .blog3-box .blog3-info .blog3-info1, .blog .blog3, .blog .blog-box .blog2, .blog .blog-box .blog1, .blog .blog-box, .blog, .chooseus .main-content .box4 .accessories, .chooseus .main-content .box4 .hoodies, .chooseus .main-content .box4 .bottoms, .chooseus .main-content .box4 .tops, .chooseus .main-content .box4, .chooseus .main-content, .chooseus, .reviews .reviews-box .review-img-box, .reviews .reviews-box, .reviews, .Category .nutrition .nutrition-box, .Category .nutrition, .Category .workout .workout-box, .Category .workout, .Category .progression .progression-box .progression-box1, .Category .progression, .header .top-header .social-icon, .header .top-header .info-header .info-header2, .header .top-header .info-header .info-header1, .header .top-header .info-header, .header .top-header, .header .header-logo {
  display: flex;
  align-items: center;
}

.margin-h {
  margin: 60px 0px 60px 0px;
}

.ViewPortWidth {
  width: 1920px;
}

.ViewPortHeight {
  width: 1080px;
}

:root {
  /* Colors: */
  --unnamed-color-181a27: #181a27;
  --unnamed-color-090d17: #090d17;
  --unnamed-color-17b241: #17b241;
  /* Font/text values */
  --unnamed-font-family-sf-compact-display: SF Compact Display;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-9: 9px;
  --unnamed-font-size-11: 11px;
  --unnamed-font-size-12: 12px;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-24: 24px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-12: 12px;
  --unnamed-line-spacing-15: 15px;
  --unnamed-line-spacing-16: 16px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-line-spacing-21: 21px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-32: 32px;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "logo top" "logo nav";
}
.header .header-logo {
  grid-area: logo;
  padding: 10px;
  cursor: pointer;
  justify-content: center;
  background-color: #e41c26;
}
.header .top-header {
  grid-area: top;
  min-height: 48px;
  background: #111111 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #eeeeee;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header .top-header .info-header {
  flex-wrap: wrap;
}
.header .top-header .info-header .info-header1 {
  margin-right: 70.95px;
  margin-left: 20.4px;
}
.header .top-header .info-header .info-header1 div {
  margin-right: 12.6px;
  cursor: pointer;
}
.header .top-header .info-header .info-header2 div {
  margin-right: 12.6px;
  cursor: pointer;
}
.header .top-header .social-icon div {
  border-left: #2a2a2a 1px solid;
  height: 100%;
  padding: 10px;
  cursor: pointer;
}
.header .top-header .social-icon div:hover {
  background-color: #5e5e5e;
}
.header .top-header .social-icon .instagram-icon {
  border-right: #2a2a2a 1px solid;
}
.header .nav-header {
  grid-area: nav;
}
.header .nav-header .navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .nav-header .navbar .navbar-links .home {
  color: #e41c26;
}
.header .nav-header .navbar .navbar-links ul {
  display: flex;
}
.header .nav-header .navbar .navbar-links ul li {
  list-style: none;
}
.header .nav-header .navbar .navbar-links ul li a {
  text-decoration: none;
  color: #111111;
  padding: 1rem;
  display: block;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  font: normal normal normal 16px/21px Futura;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
}
.header .nav-header .navbar .navbar-links ul li:hover {
  background-color: #5e5e5e;
}
.header .nav-header .navbar .navbar-links ul li:hover a {
  color: white;
}

.Category {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1.3fr;
  grid-template-areas: "box1 box2 box3";
  grid-auto-rows: 391px;
}
.Category .progression {
  position: relative;
  justify-content: flex-end;
  grid-area: box1;
  background: #212121 0% 0% no-repeat padding-box;
}
.Category .progression .back-image {
  width: 166px;
  height: 148px;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}
.Category .progression .progression-box {
  width: 254px;
  text-align: center;
  margin-right: 49px;
}
.Category .progression .progression-box .progression-box1 {
  justify-content: center;
  margin-bottom: 23px;
}
.Category .progression .progression-box .progression-box1 div {
  width: 79px;
  height: 70px;
  background: transparent url("../Images/16-express.svg") 0% 0% no-repeat padding-box;
}
.Category .progression .progression-box .progression-box2 {
  margin-bottom: 20px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 26px/35px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 26px/35px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
.Category .progression .progression-box .progression-box3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/28px SF Pro Display;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 16px/28px SF Pro Display;
  letter-spacing: 0px;
  color: #dedede;
}
.Category .workout {
  position: relative;
  justify-content: center;
  grid-area: box2;
  background: #eeeeee 0% 0% no-repeat padding-box;
}
.Category .workout .back-image {
  width: 148px;
  height: 148px;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}
.Category .workout .workout-box {
  width: 254px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.Category .workout .workout-box .workout-box1 {
  width: 68px;
  height: 68px;
  margin-bottom: 23.8px;
}
.Category .workout .workout-box .workout-box2 {
  margin-bottom: 20px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 26px/35px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 26px/35px Futura;
  letter-spacing: 0px;
  color: #e41c26;
  text-transform: uppercase;
}
.Category .workout .workout-box .workout-box3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/28px SF Pro Display;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 16px/28px SF Pro Display;
  letter-spacing: 0px;
  color: #515151;
}
.Category .nutrition {
  position: relative;
  grid-area: box3;
  background: #e41c26 0% 0% no-repeat padding-box;
}
.Category .nutrition .back-image {
  width: 113px;
  height: 148px;
  position: absolute;
  left: 241px;
  bottom: 0;
  opacity: 0.2;
}
.Category .nutrition .nutrition-box {
  flex-direction: column;
  justify-content: center;
  width: 254px;
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
}
.Category .nutrition .nutrition-box .nutrition-box1 {
  width: 52px;
  height: 69px;
  margin-bottom: 23.8px;
}
.Category .nutrition .nutrition-box .nutrition-box2 {
  margin-bottom: 20px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 26px/35px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 26px/35px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
}
.Category .nutrition .nutrition-box .nutrition-box3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/28px SF Pro Display;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 16px/28px SF Pro Display;
  letter-spacing: 0px;
  color: #dedede;
}

.reviews {
  justify-content: center;
  margin-top: 79px;
  margin-bottom: 79px;
}
.reviews .reviews-box {
  justify-content: center;
  flex-wrap: wrap;
}
.reviews .reviews-box .first-box {
  margin: 0 20px 30px 20px;
  position: relative;
}
.reviews .reviews-box .first-box .review-back-img {
  width: 152px;
  min-height: 98px;
  background: transparent url("../Images/Group 36.svg") 0% 0% no-repeat padding-box;
  position: absolute;
  right: 0;
}
.reviews .reviews-box .review-img-box {
  max-width: 30rem;
  margin: 0 20px 0 20px;
  justify-content: center;
}
.reviews .reviews-box .review-img-box .review-img {
  width: 100%;
  height: 100%;
}

.chooseus {
  position: relative;
  min-height: 650px;
  justify-content: center;
  background: #111111 0% 0% no-repeat padding-box;
}
.chooseus .main-content {
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
.chooseus .main-content .line1 {
  width: 186px;
  height: 5px;
  background: #e41c26 0% 0% no-repeat padding-box;
  position: relative;
  bottom: 20px;
}
.chooseus .main-content .box1 {
  max-width: 600px;
  min-height: 79px;
  margin-bottom: 22px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 59px/79px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 59px/79px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  z-index: 20;
}
.chooseus .main-content .box2 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  max-width: 588px;
  min-height: 128px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 96px/128px SF Pro Display;
  text-align: center;
  font: normal normal bold 99px/128px SF Pro Display;
  letter-spacing: 18.72px;
  color: #5e5e5e;
  text-transform: uppercase;
  position: absolute;
  left: 250px;
  top: 150px;
  z-index: 10;
}
.chooseus .main-content .box3 {
  max-width: 821px;
  min-height: 59px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 20px/27px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 20px/27px Futura;
  letter-spacing: 0px;
  color: #d1d1d1;
  margin-bottom: 109px;
}
.chooseus .main-content .box4 {
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -50px;
}
.chooseus .main-content .box4 .tops {
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  max-width: 16rem;
  min-height: 16rem;
  margin: 10px;
  background: #2a2a2a 0% 0% no-repeat padding-box;
}
.chooseus .main-content .box4 .tops .tops1 {
  margin-bottom: 21px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 22px/30px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
}
.chooseus .main-content .box4 .tops .tops2 {
  width: 91px;
  height: 99px;
  margin-bottom: 23.5px;
  background: transparent url("../Images/Group 22.svg") 0% 0% no-repeat padding-box;
}
.chooseus .main-content .box4 .tops .tops3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/28px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 18px/28px Futura;
  letter-spacing: 0px;
  color: #d1d1d1;
}
.chooseus .main-content .box4 .bottoms {
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  margin: 10px;
  max-width: 16rem;
  min-height: 16rem;
  background: #2a2a2a 0% 0% no-repeat padding-box;
}
.chooseus .main-content .box4 .bottoms .bottoms1 {
  width: 106px;
  height: 30px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 22px/30px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.chooseus .main-content .box4 .bottoms .bottoms2 {
  margin-bottom: 23px;
  width: 56px;
  height: 99px;
  background: transparent url("../Images/Group 22(1).svg") 0% 0% no-repeat padding-box;
}
.chooseus .main-content .box4 .bottoms .bottoms3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/28px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 18px/28px Futura;
  letter-spacing: 0px;
  color: #d1d1d1;
}
.chooseus .main-content .box4 .hoodies {
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  margin: 10px;
  max-width: 16rem;
  min-height: 16rem;
  background: #2a2a2a 0% 0% no-repeat padding-box;
}
.chooseus .main-content .box4 .hoodies .hoodies1 {
  width: 306px;
  height: 30px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 22px/30px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.chooseus .main-content .box4 .hoodies .hoodies2 {
  margin-bottom: 23px;
  width: 85px;
  height: 98px;
  background: transparent url("../Images/Group 22(2).svg") 0% 0% no-repeat padding-box;
}
.chooseus .main-content .box4 .hoodies .hoodies3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/28px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 18px/28px Futura;
  letter-spacing: 0px;
  color: #d1d1d1;
}
.chooseus .main-content .box4 .accessories {
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  margin: 10px;
  background: #2a2a2a 0% 0% no-repeat padding-box;
  max-width: 16rem;
  min-height: 16rem;
}
.chooseus .main-content .box4 .accessories .accessories1 {
  width: 306px;
  height: 30px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 22px/30px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.chooseus .main-content .box4 .accessories .accessories2 {
  margin-bottom: 23px;
  width: 100px;
  height: 98px;
  background: transparent url("../Images/Group 22(3).svg") 0% 0% no-repeat padding-box;
}
.chooseus .main-content .box4 .accessories .accessories3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/28px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 18px/28px Futura;
  letter-spacing: 0px;
  color: #d1d1d1;
}

.video {
  max-height: 600px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.video .video1 {
  width: 120px;
  margin-top: 40px;
  height: 366px;
}
.video .video1 div {
  transform: rotate(90deg);
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 123px/164px SF Pro Display;
  text-align: center;
  font: normal normal bold 8vw/164px SF Pro Display;
  letter-spacing: 23.98px;
  color: #5e5e5e;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}
.video .video2 {
  position: absolute;
  z-index: 10;
  max-width: 54.688rem;
  height: 37.875rem;
  object-fit: cover;
  left: 164px;
  top: 0px;
  margin-top: 50px;
}
.video .video2 img {
  width: 100%;
}
.video .video3 {
  max-width: 944px;
  height: 465px;
  z-index: 20;
}
.video .video3 .video3-content img {
  width: 100%;
  height: 100%;
}

.blog {
  min-height: 1400px;
  flex-direction: column;
  justify-content: center;
}
.blog .blog-box {
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1283px;
  margin-top: 18.4 0.5px;
  margin-bottom: 73px;
}
.blog .blog-box .blog1 {
  justify-content: center;
  flex-direction: column;
  max-width: 821px;
  min-height: 158px;
}
.blog .blog-box .blog1 .blog11 {
  max-width: 714px;
  min-height: 79px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 59px/79px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 59px/79px Futura;
  letter-spacing: 0px;
  color: #000000;
  text-transform: capitalize;
}
.blog .blog-box .blog1 .blog12 {
  max-width: 186px;
  min-height: 5px;
  background: #e41c26 0% 0% no-repeat padding-box;
  margin-top: 5px;
  margin-bottom: 10px;
}
.blog .blog-box .blog1 .blog13 {
  max-width: 821px;
  min-height: 59px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 20px/27px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 20px/27px Futura;
  letter-spacing: 0px;
  color: #7e7e7e;
}
.blog .blog-box .blog2 {
  max-width: 1100px;
  min-height: 75px;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
}
.blog .blog-box .blog2 .blog2-box {
  max-width: 100%;
  min-height: 50px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.blog .blog-box .blog2 .blog2-box .blog21 {
  padding: 20px;
  border-bottom: 1px solid #a7a7a7;
  cursor: pointer;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 22px/30px Proxima Nova Alt;
  text-align: left;
  font: normal normal 600 22px/30px Proxima Nova Alt;
  letter-spacing: -0.84px;
  color: #163235;
}
.blog .blog-box .blog2 .blog2-box .activate {
  border-bottom: 5px solid #163235;
}
.blog .blog3 {
  max-width: 1100px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.blog .blog3 .blog3-box {
  max-width: 320px;
  min-height: 300px;
  margin: 10px;
}
.blog .blog3 .blog3-box .blog3-img1 {
  max-width: 100%;
  min-height: 200px;
  background-image: url("../Images/Group 13.png");
  background-size: 100% 100%;
  box-shadow: 0px 6px 25px #0000000f;
  border-radius: 20px;
  position: relative;
}
.blog .blog3 .blog3-box .blog3-img1 .blog3-img1-date {
  width: 66px;
  height: 63px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background: #e41c26 0% 0% no-repeat padding-box;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.blog .blog3 .blog3-box .blog3-img1 .blog3-img1-date .blog3-date1 {
  font-size: x-large;
  margin-top: 5px;
}
.blog .blog3 .blog3-box .blog3-img2 {
  max-width: 100%;
  min-height: 200px;
  background: transparent url("../Images/Rectangle 33.png") 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 25px #0000000f;
  border-radius: 20px;
  position: relative;
}
.blog .blog3 .blog3-box .blog3-img2 .blog3-img1-date {
  width: 66px;
  height: 63px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background: #e41c26 0% 0% no-repeat padding-box;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.blog .blog3 .blog3-box .blog3-img2 .blog3-img1-date .blog3-date1 {
  font-size: x-large;
  margin-top: 5px;
}
.blog .blog3 .blog3-box .blog3-img3 {
  max-width: 100%;
  position: relative;
  min-height: 200px;
  background: transparent url("../Images/Rectangle 34.png") 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 25px #0000000f;
  border-radius: 20px;
}
.blog .blog3 .blog3-box .blog3-img3 .blog3-img1-date {
  width: 66px;
  height: 63px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background: #e41c26 0% 0% no-repeat padding-box;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.blog .blog3 .blog3-box .blog3-img3 .blog3-img1-date .blog3-date1 {
  font-size: x-large;
  margin-top: 5px;
}
.blog .blog3 .blog3-box .blog3-info .blog3-info1 {
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: 12px;
}
.blog .blog3 .blog3-box .blog3-info .blog3-info1 .blog-icon-flex {
  display: flex;
}
.blog .blog3 .blog3-box .blog3-info .blog3-info1 .blog-icon-flex .blog-icon {
  color: #e41c26;
  margin-right: 5px;
}
.blog .blog3 .blog3-box .blog3-info .blog3-info1 .blog-icon-flex .blog-icon-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) SF Pro Display;
  text-align: left;
  font: normal normal normal 12px/19px SF Pro Display;
  letter-spacing: 1.05px;
  color: #7e7e7e;
  text-transform: uppercase;
  margin-right: 10px;
}
.blog .blog3 .blog3-box .blog3-info .blog3-info2 {
  max-width: 384px;
  min-height: 45px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 16px/30px SF Pro Display;
  text-align: left;
  font: normal normal bold 16px/30px SF Pro Display;
  letter-spacing: 1.65px;
  color: #000000;
  text-transform: uppercase;
}
.blog .blog3 .blog3-box .blog3-info .blog3-info3 {
  max-width: 389px;
  min-height: 90px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/31px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 18px/31px Futura;
  letter-spacing: 0px;
  color: #7e7e7e;
}
.blog .blog3 .blog3-box .blog3-info .blog3-info4 {
  max-width: 180px;
  min-height: 50px;
  border: 1px solid #000000;
  justify-content: center;
}
.blog .blog3 .blog3-box .blog3-info .blog3-info4 div {
  font: var(--unnamed-font-style-normal) normal 300 var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) SF Pro Display;
  text-align: center;
  font: normal normal 300 14px/21px SF Pro Display;
  letter-spacing: 0.8px;
  color: #000000;
  text-transform: uppercase;
}

.subscribe {
  background: #eeeeee 0% 0% no-repeat padding-box;
  margin-top: 109px;
}
.subscribe .subscribe-box {
  max-width: 70rem;
  margin: auto;
  min-height: 427px;
  position: relative;
  bottom: 70px;
  background: #e41c26 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 45px #00000026;
  border-radius: 20px;
  justify-content: center;
}
.subscribe .subscribe-box .subscribe-subbox {
  max-width: 70rem;
  min-height: 244px;
  margin: 20px;
  flex-wrap: wrap;
}
.subscribe .subscribe-box .subscribe-subbox .subscribe-subbox2 {
  justify-content: center;
}
.subscribe .subscribe-box .subscribe-subbox .subscribe-subbox2 form input {
  width: 18.75rem;
  margin: 0px 10px 28px 10px;
  height: 58px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #ededed;
}
.subscribe .subscribe-box .subscribe-subbox .subscribe-subbox2 form button {
  width: 300px;
  height: 56px;
  margin-left: 10px;
  background: #111111 0% 0% no-repeat padding-box;
  outline: none;
  border: none;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) SF Pro Display;
  text-align: center;
  font: normal normal medium 16px/21px SF Pro Display;
  letter-spacing: 0.8px;
  color: #ffffff;
  text-transform: uppercase;
}
.subscribe .subscribe-box .subscribe-subbox .subscribe-subbox1 {
  max-width: 600px;
  min-height: 244px;
  margin-bottom: 1rem;
}
.subscribe .subscribe-box .subscribe-subbox .subscribe-subbox1 .subscribe-subbox11 {
  min-height: 80px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 60px/56px Futura-Bold;
  text-align: left;
  font: normal normal normal 60px/56px Futura-Bold;
  letter-spacing: 3px;
  color: #ffffff;
  text-transform: uppercase;
}
.subscribe .subscribe-box .subscribe-subbox .subscribe-subbox12 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 36px/56px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 36px/56px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.subscribe .subscribe-box .subscribe-subbox .subscribe-subbox13 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 18px/24px Futura;
  letter-spacing: 0px;
  color: #ffffff;
}

.footer {
  margin-top: 50px;
}
.footer .footer1 {
  min-height: 400px;
  background: #111111 0% 0% no-repeat padding-box;
  justify-content: center;
}
.footer .footer1 .footer-main {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer1 .footer-main .footer11 {
  width: 240px;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info3 {
  display: flex;
  margin-top: 44.5px;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info3 div {
  margin-right: 25.5px;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info3 div:nth-child(1) {
  width: 32px;
  height: 32px;
  background: transparent url("../Images/Path 170.png") 0% 0% no-repeat padding-box;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info3 div:nth-child(2) {
  width: 32px;
  height: 32px;
  background: transparent url("../Images/Path 171.svg") 0% 0% no-repeat padding-box;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info3 div:nth-child(3) {
  width: 32px;
  height: 32px;
  background: transparent url("../Images/Group 159.svg") 0% 0% no-repeat padding-box;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info2 {
  margin-top: 19px;
  display: flex;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info2 div:nth-child(1) {
  background: transparent url("../Images/phone.svg") 0% 0% no-repeat padding-box;
  width: 15px;
  height: 15px;
  margin-right: 13px;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info2 div:nth-child(2) {
  width: 89px;
  height: 21px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/21px Futura;
  letter-spacing: 0px;
  color: #ffffff;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info1 {
  display: flex;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info1 div:nth-child(1) {
  margin-right: 15px;
  width: 12px;
  height: 17px;
  background: transparent url("../Images/location-sharp.svg") 0% 0% no-repeat padding-box;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info1 div:nth-child(2) {
  width: 200px;
  height: 42px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/21px Futura;
  letter-spacing: 0px;
  color: #ffffff;
}
.footer .footer1 .footer-main .footer11 .footer11-image {
  background: transparent url("../Images/Group 204.svg") 0% 0% no-repeat padding-box;
  width: 220px;
  height: 88px;
  position: relative;
  top: -38px;
}
.footer .footer1 .footer-main .footer12 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer .footer1 .footer-main .footer12 .footer12-box1 h1 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-32) Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 24px/32px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 41px;
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
}
.footer .footer1 .footer-main .footer12 .footer12-box1 div {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/21px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 29px;
  margin-left: 80px;
  margin-right: 80px;
}
.footer .footer2 {
  height: 60px;
  background: #000000 0% 0% no-repeat padding-box;
  justify-content: center;
}
.footer .footer2 div {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 16px/21px Futura;
  letter-spacing: 0px;
  color: #ffffff;
}

.leftarrown-container {
  width: 70px;
  margin-right: -30px;
  position: absolute;
}
.leftarrown-container .leftarrown {
  margin-left: 20px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.slider {
  background-image: url("../Images/Group 13.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-show {
  position: relative;
}
.slide-show .slider-content {
  max-width: 28vw;
  border-left: 10px solid #f60000;
  border-top: 10px solid #f60000;
  border-bottom: 10px solid #f60000;
  position: absolute;
  top: 115px;
  left: 17vw;
}
.slide-show .slider-content .slider-content-sub1 {
  border-right: 10px #f60000 solid;
  min-height: 20px;
}
.slide-show .slider-content .slider-content-sub2 {
  border-right: 10px #f60000 solid;
  min-height: 20px;
}
.slide-show .slider-content .slider-content-sub {
  min-height: 340px;
  max-width: 400px;
  margin-left: 20px;
  border: transparent 2px solid;
}
.slide-show .slider-content .slider-content-sub #join-box {
  max-width: 44px;
  min-height: 44px;
  border-left: 3px solid #f60000;
  border-bottom: 3px solid #f60000;
  position: relative;
  left: -7px;
  bottom: 15px;
}
.slide-show .slider-content .slider-content-sub div:nth-child(1) {
  margin-top: 31.5px;
  max-width: 200px;
  min-height: 33px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 25px/33px SF Pro Display;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 25px/33px SF Pro Display;
  letter-spacing: 0px;
  color: #ffffff;
}
.slide-show .slider-content .slider-content-sub div:nth-child(2) {
  width: 47vw;
  min-height: 132px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 99px/132px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 7vw/132px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
}
.slide-show .slider-content .slider-content-sub div:nth-child(3) {
  max-width: 296px;
  min-height: 53px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 40px/53px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 40px/53px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
}
.slide-show .slider-content .slider-content-sub div:nth-child(4) {
  position: relative;
  width: 189px;
  min-height: 57px;
  border: 1px solid #ffffff;
  justify-content: center;
  margin-bottom: -20px;
}
.slide-show .slider-content .slider-content-sub div:nth-child(4) #join-text {
  cursor: pointer;
  position: relative;
  bottom: 13px;
  font: var(--unnamed-font-style-normal) normal 300 20px/27px SF Pro Display;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal 300 20px/27px SF Pro Display;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
}

.mySwiper {
  max-width: 70rem;
}
.mySwiper .swiper-box {
  height: 16rem;
  background-color: #2a2a2a;
  width: 16rem;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
}
.mySwiper .swiper-box .tops1 {
  margin-bottom: 0.7rem;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 1rem/30px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
}
.mySwiper .swiper-box .tops2 {
  width: 91px;
  height: 99px;
  margin-bottom: 23.5px;
  background: transparent url("../Images/Group 22.svg") 0% 0% no-repeat padding-box;
}
.mySwiper .swiper-box .bottoms2 {
  margin-bottom: 23px;
  width: 56px;
  height: 99px;
  background: transparent url("../Images/Group 22(1).svg") 0% 0% no-repeat padding-box;
}
.mySwiper .swiper-box .hoodies2 {
  margin-bottom: 23px;
  width: 85px;
  height: 98px;
  background: transparent url("../Images/Group 22(2).svg") 0% 0% no-repeat padding-box;
}
.mySwiper .swiper-box .accessories2 {
  margin-bottom: 23px;
  width: 100px;
  height: 98px;
  background: transparent url("../Images/Group 22(3).svg") 0% 0% no-repeat padding-box;
}
.mySwiper .swiper-box .tops3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/28px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 18px/28px Futura;
  letter-spacing: 0px;
  color: #d1d1d1;
}

.review-swiper {
  margin-bottom: 20px;
}
.review-swiper .box1 {
  max-width: 25px;
  min-height: 22px;
  text-align: left;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 17px/22px SF Pro Display;
  font: normal normal bold 17px/22px SF Pro Display;
  letter-spacing: 1.27px;
  color: #5e5e5e;
  text-transform: uppercase;
}
.review-swiper .box2 {
  max-width: 83px;
  min-height: 146px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 59px/67px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 59px/67px Futura;
  letter-spacing: 0px;
  color: #000000;
  text-transform: capitalize;
}
.review-swiper .box3 {
  max-width: 105px;
  min-height: 24px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) SF Pro Display;
  text-align: left;
  font: normal normal normal 18px/24px SF Pro Display;
  letter-spacing: 1.35px;
  color: #7e7e7e;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.review-swiper .box4 {
  max-width: 280px;
  min-height: 30px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px SF Pro Display;
  text-align: left;
  font: normal normal bold 22px/30px SF Pro Display;
  letter-spacing: 1.65px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.review-swiper .box5 {
  margin-bottom: 44px;
}
.review-swiper .box5 div:nth-child(1) {
  width: 13px;
  height: 13px;
  background: transparent url("../Images/Icon awesome-star.png") 0% 0% no-repeat padding-box;
}
.review-swiper .box5 div {
  margin-right: 9px;
}
.review-swiper .box5 div:nth-child(2) {
  width: 13px;
  height: 13px;
  background: transparent url("../Images/Icon awesome-star.png") 0% 0% no-repeat padding-box;
}
.review-swiper .box5 div:nth-child(3) {
  width: 13px;
  height: 13px;
  background: transparent url("../Images/Icon awesome-star.png") 0% 0% no-repeat padding-box;
}
.review-swiper .box5 div:nth-child(4) {
  width: 13px;
  height: 13px;
  background: transparent url("../Images/Icon awesome-star.png") 0% 0% no-repeat padding-box;
}
.review-swiper .box5 div:nth-child(5) {
  width: 13px;
  height: 13px;
  background: transparent url("../Images/Icon awesome-star.png") 0% 0% no-repeat padding-box;
}
.review-swiper .box6 {
  max-width: 521px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/28px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 18px/28px Futura;
  letter-spacing: 0px;
  color: #7e7e7e;
}

@media only screen and (max-width: 1178px) {
  .footer-main {
    justify-content: center;
  }

  .footer11 {
    margin-top: 50px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1053px) {
  .subscribe-subbox {
    justify-content: center;
  }

  .header .header-logo {
    width: 100%;
  }

  .chooseus .main-content {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 950px) {
  .header {
    grid-template-areas: "logo logo" "top top" "nav nav";
  }

  .Category {
    grid-template-areas: "box1" "box2" "box3";
  }
  .Category .progression {
    grid-column: 1/-1;
    justify-content: center;
  }
  .Category .progression .progression-box {
    margin-right: 0px;
  }
  .Category .workout {
    grid-column: 1/-1;
  }
  .Category .nutrition {
    grid-column: 1/-1;
    justify-content: center;
    margin-left: -50px;
  }
  .Category .nutrition .nutrition-box {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 800px) {
  .video {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  .video .video1 {
    margin-left: 80px;
    transform: rotate(-90deg);
    width: 74px;
    margin-top: 0px;
    margin-bottom: -50px;
  }
  .video .video2 {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .header .header-logo {
    width: 100%;
  }
  .header .nav-header .navbar-links {
    display: none;
  }
  .header .nav-header .navbar {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .header .nav-header .navbar-links {
    width: 100%;
  }
  .header .nav-header .navbar-links ul {
    border: white solid 1px;
    flex-direction: column;
    width: 100%;
  }
  .header .nav-header .navbar-links li {
    text-align: center;
  }
  .header .nav-header .navbar-links.active {
    display: flex;
  }
  .header .top-header {
    justify-content: center;
  }
  .header .info-header {
    justify-content: center;
  }
}
@media only screen and (max-width: 400px) {
  .video {
    height: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
