* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dFlex, .footer .footer2, .footer .footer1, .subscribe .subscribe-box .subscribe-subbox .subscribe-subbox2, .subscribe .subscribe-box .subscribe-subbox, .subscribe .subscribe-box, .blog .blog-box .blog2, .blog .blog-box .blog1, .blog .blog-box, .blog, .video .video3, .chooseus .main-content .box4 .accessories, .chooseus .main-content .box4 .hoodies, .chooseus .main-content .box4 .bottoms, .chooseus .main-content .box4 .tops, .chooseus .main-content .box4, .chooseus .main-content, .chooseus, .reviews .reviews-box, .reviews, .Category .nutrition, .Category .workout, .Category .progression, .Category, .header .top-nav-header .nav-header .sub-nav-header .sidebar-icon, .header .top-nav-header .nav-header .sub-nav-header .navbar, .header .top-nav-header .nav-header .sub-nav-header, .header .top-nav-header .nav-header, .header .top-nav-header .top-header .social-icon, .header .top-nav-header .top-header .info-header div, .header .top-nav-header .top-header .info-header, .header .top-nav-header .top-header, .header .header-logo, .header {
  display: flex;
  align-items: center;
}

:root {
  /* Colors: */
  --unnamed-color-181a27: #181a27;
  --unnamed-color-090d17: #090d17;
  --unnamed-color-17b241: #17b241;
  /* Font/text values */
  --unnamed-font-family-sf-compact-display: SF Compact Display;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-9: 9px;
  --unnamed-font-size-11: 11px;
  --unnamed-font-size-12: 12px;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-24: 24px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-12: 12px;
  --unnamed-line-spacing-15: 15px;
  --unnamed-line-spacing-16: 16px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-line-spacing-21: 21px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-32: 32px;
}

.header .header-logo {
  justify-content: center;
  width: 320px;
  height: 128px;
  background: transparent url("../Images/Group 3@2x.png") 0% 0% no-repeat padding-box;
}
.header .top-nav-header {
  width: 1600px;
}
.header .top-nav-header .top-header {
  height: 48px;
  background: #111111 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #eeeeee;
  justify-content: space-between;
}
.header .top-nav-header .top-header .social-icon div {
  border-left: #2a2a2a 1px solid;
  height: 100%;
  padding: 12px;
}
.header .top-nav-header .nav-header {
  justify-content: flex-end;
  height: 80px;
}
.header .top-nav-header .nav-header .sub-nav-header .navbar {
  justify-content: space-around;
  width: 516px;
  height: 21px;
  border: #ff0000 2px solid;
}
.header .top-nav-header .nav-header .sub-nav-header .navbar div {
  width: 69px;
  height: 21px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/21px Futura;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
.header .top-nav-header .nav-header .sub-nav-header .search-icon {
  width: 81px;
  height: 80px;
  border-left: 1px solid #eeeeee;
}
.header .top-nav-header .nav-header .sub-nav-header .sidebar-icon {
  justify-content: center;
  width: 81px;
  height: 80px;
  background: #e41c26 0% 0% no-repeat padding-box;
}

.Category .progression {
  position: relative;
  justify-content: flex-end;
  width: 672px;
  height: 391px;
  background: #212121 0% 0% no-repeat padding-box;
}
.Category .progression .back-image {
  width: 166px;
  height: 148px;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}
.Category .progression .progression-box {
  width: 254px;
  text-align: center;
  margin-right: 49px;
  border: #eeeeee 1px solid;
}
.Category .workout {
  position: relative;
  justify-content: center;
  width: 576px;
  height: 391px;
  background: #eeeeee 0% 0% no-repeat padding-box;
}
.Category .workout .back-image {
  width: 148px;
  height: 148px;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}
.Category .workout .workout-box {
  width: 254px;
  text-align: center;
  border: #eeeeee 1px solid;
}
.Category .nutrition {
  position: relative;
  width: 672px;
  height: 391px;
  background: #e41c26 0% 0% no-repeat padding-box;
}
.Category .nutrition .back-image {
  width: 113px;
  height: 148px;
  position: absolute;
  left: 241px;
  bottom: 0;
  opacity: 0.2;
}
.Category .nutrition .nutrition-box {
  width: 254px;
  text-align: center;
  margin-right: 50px;
  border: #eeeeee 1px solid;
  margin-left: 50px;
}

.reviews {
  justify-content: center;
}
.reviews .reviews-box {
  justify-content: center;
}
.reviews .reviews-box .first-box {
  margin-right: 147px;
}
.reviews .reviews-box .first-box .box1 {
  width: 125px;
  height: 22px;
  text-align: left;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 17px/22px SF Pro Display;
  font: normal normal bold 17px/22px SF Pro Display;
  letter-spacing: 1.27px;
  color: #5e5e5e;
  text-transform: uppercase;
  opacity: 1;
}
.reviews .reviews-box .first-box .box2 {
  width: 383px;
  height: 146px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 59px/67px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 59px/67px Futura;
  letter-spacing: 0px;
  color: #000000;
  text-transform: capitalize;
}
.reviews .reviews-box .first-box .box3 {
  width: 105px;
  height: 24px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) SF Pro Display;
  text-align: left;
  font: normal normal normal 18px/24px SF Pro Display;
  letter-spacing: 1.35px;
  color: #7e7e7e;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.reviews .reviews-box .first-box .box4 {
  width: 300px;
  height: 30px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px SF Pro Display;
  text-align: left;
  font: normal normal bold 22px/30px SF Pro Display;
  letter-spacing: 1.65px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.reviews .reviews-box .first-box .box5 {
  width: 13px;
  height: 13px;
  background: transparent url("../Images/Icon awesome-star.png") 0% 0% no-repeat padding-box;
  margin-bottom: 44px;
}
.reviews .reviews-box .first-box .box6 {
  width: 521px;
  height: 137px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/28px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 18px/28px Futura;
  letter-spacing: 0px;
  color: #7e7e7e;
}
.reviews .reviews-box .first-box .box {
  width: 186px;
  height: 5px;
  background: #e41c26 0% 0% no-repeat padding-box;
  margin-bottom: 46px;
}

.chooseus {
  position: relative;
  width: 1920px;
  height: 908px;
  justify-content: center;
  background: #111111 0% 0% no-repeat padding-box;
}
.chooseus .main-content {
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
.chooseus .main-content .line1 {
  width: 186px;
  height: 5px;
  background: #e41c26 0% 0% no-repeat padding-box;
  position: relative;
  bottom: 20px;
}
.chooseus .main-content .box1 {
  width: 600px;
  height: 79px;
  margin-bottom: 22px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 59px/79px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 59px/79px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  z-index: 20;
}
.chooseus .main-content .box2 {
  width: 588px;
  height: 128px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 96px/128px SF Pro Display;
  text-align: center;
  font: normal normal bold 96px/128px SF Pro Display;
  letter-spacing: 18.72px;
  color: #5e5e5e;
  text-transform: uppercase;
  position: absolute;
  left: 600px;
  top: 140px;
  z-index: 10;
}
.chooseus .main-content .box3 {
  width: 821px;
  height: 59px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 20px/27px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 20px/27px Futura;
  letter-spacing: 0px;
  color: #d1d1d1;
  margin-bottom: 109px;
}
.chooseus .main-content .box4 {
  justify-content: center;
  width: 100%;
}
.chooseus .main-content .box4 .tops {
  flex-direction: column;
  justify-content: center;
  border: #eee9e9 1px solid;
  width: 299px;
  height: 300px;
  margin-right: 30px;
}
.chooseus .main-content .box4 .tops .tops1 {
  width: 54px;
  height: 30px;
  margin-bottom: 21px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 22px/30px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
}
.chooseus .main-content .box4 .tops .tops2 {
  width: 91px;
  height: 99px;
  margin-bottom: 23.5px;
  background: transparent url("../Images/Group 22.svg") 0% 0% no-repeat padding-box;
}
.chooseus .main-content .box4 .tops .tops3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/28px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 18px/28px Futura;
  letter-spacing: 0px;
  color: #d1d1d1;
}
.chooseus .main-content .box4 .bottoms {
  flex-direction: column;
  justify-content: center;
  border: #eee9e9 1px solid;
  margin-right: 30px;
  width: 299px;
  height: 300px;
}
.chooseus .main-content .box4 .bottoms .bottoms1 {
  width: 106px;
  height: 30px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 22px/30px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.chooseus .main-content .box4 .bottoms .bottoms2 {
  margin-bottom: 23px;
  width: 56px;
  height: 99px;
  background: transparent url("../Images/Group 22(1).svg") 0% 0% no-repeat padding-box;
}
.chooseus .main-content .box4 .bottoms .bottoms3 {
  width: 265px;
  height: 77px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/28px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 18px/28px Futura;
  letter-spacing: 0px;
  color: #d1d1d1;
}
.chooseus .main-content .box4 .hoodies {
  flex-direction: column;
  justify-content: center;
  border: #eee9e9 1px solid;
  margin-right: 30px;
  width: 299px;
  height: 300px;
}
.chooseus .main-content .box4 .hoodies .hoodies1 {
  width: 306px;
  height: 30px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 22px/30px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.chooseus .main-content .box4 .hoodies .hoodies2 {
  margin-bottom: 23px;
  width: 85px;
  height: 98px;
  background: transparent url("../Images/Group 22(2).svg") 0% 0% no-repeat padding-box;
}
.chooseus .main-content .box4 .hoodies .hoodies3 {
  width: 265px;
  height: 77px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/28px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 18px/28px Futura;
  letter-spacing: 0px;
  color: #d1d1d1;
}
.chooseus .main-content .box4 .accessories {
  flex-direction: column;
  justify-content: center;
  border: #eee9e9 1px solid;
  width: 299px;
  height: 300px;
}
.chooseus .main-content .box4 .accessories .accessories1 {
  width: 306px;
  height: 30px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 22px/30px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.chooseus .main-content .box4 .accessories .accessories2 {
  margin-bottom: 23px;
  width: 100px;
  height: 76px;
  background: transparent url("../Images/Group 22(3).svg") 0% 0% no-repeat padding-box;
}
.chooseus .main-content .box4 .accessories .accessories3 {
  width: 265px;
  height: 77px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/28px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 18px/28px Futura;
  letter-spacing: 0px;
  color: #d1d1d1;
}

.video {
  width: 1920px;
  height: 741px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-top: 233px;
}
.video .video1 {
  width: 164px;
  height: 466px;
  margin-top: 274.5px;
  border: 1px red solid;
}
.video .video2 {
  position: absolute;
  z-index: 10;
  width: 1299px;
  height: 606px;
  background: transparent url("../Images/Group 87.svg") 0% 0% no-repeat padding-box;
  left: 164px;
  bottom: 0;
}
.video .video3 {
  justify-content: center;
  position: absolute;
  width: 1550px;
  height: 665px;
  right: 0;
  top: 0;
  background: transparent url("../Images/Rectangle 28.png") 0% 0% no-repeat padding-box;
  z-index: 20;
}
.video .video3 .video32 {
  width: 172px;
  height: 172px;
  background: transparent url("../Images/Group 88.svg") 0% 0% no-repeat padding-box;
}

.blog {
  width: 1920px;
  height: 1583px;
  border: #000000 2px dashed;
  justify-content: center;
}
.blog .blog-box {
  flex-direction: column;
  justify-content: center;
  width: 1283px;
  border: #e41c26 2px solid;
  margin-top: 18.4 0.5px;
}
.blog .blog-box .blog3 {
  border: 1px solid green;
  width: 407px;
}
.blog .blog-box .blog3 .blog3-box {
  border: #181a27 2px solid;
  width: 407px;
}
.blog .blog-box .blog3 .blog3-box .blog3-img {
  width: 100%;
  height: 252px;
  background: transparent url("../Images/Rectangle 32.png") 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 25px #0000000f;
  border-radius: 20px;
  border: 1px solid green;
}
.blog .blog-box .blog3 .blog3-box .blog3-info .blog3-info2 {
  border: 2px red solid;
  width: 384px;
  height: 55px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px SF Pro Display;
  text-align: left;
  font: normal normal bold 22px/30px SF Pro Display;
  letter-spacing: 1.65px;
  color: #000000;
  text-transform: uppercase;
}
.blog .blog-box .blog3 .blog3-box .blog3-info .blog3-info3 {
  width: 389px;
  height: 90px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/31px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 18px/31px Futura;
  letter-spacing: 0px;
  color: #7e7e7e;
}
.blog .blog-box .blog3 .blog3-box .blog3-info .blog3-info4 {
  width: 196px;
  height: 56px;
  border: 1px solid #000000;
}
.blog .blog-box .blog1 {
  justify-content: center;
  flex-direction: column;
  width: 821px;
  height: 158px;
  border: #e41c26 2px solid;
}
.blog .blog-box .blog1 .blog11 {
  width: 714px;
  height: 79px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 59px/79px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 59px/79px Futura;
  letter-spacing: 0px;
  color: #000000;
  text-transform: capitalize;
}
.blog .blog-box .blog1 .blog12 {
  width: 186px;
  height: 5px;
  background: #e41c26 0% 0% no-repeat padding-box;
  margin-top: 5px;
  margin-bottom: 10px;
}
.blog .blog-box .blog1 .blog13 {
  width: 821px;
  height: 59px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 20px/27px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 20px/27px Futura;
  letter-spacing: 0px;
  color: #7e7e7e;
}
.blog .blog-box .blog2 {
  width: 1100px;
  height: 75px;
  border: #000000 solid 1px;
  margin-top: 59.5px;
  flex-direction: column;
  justify-content: center;
}
.blog .blog-box .blog2 .blog-line {
  width: 1100px;
  height: 0.6845703125px;
  border: 1px solid #a7a7a7;
  opacity: 0.44;
}
.blog .blog-box .blog2 .blog2-box {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.blog .blog-box .blog2 .blog2-box .blog21 {
  width: 235px;
  height: 30px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 22px/30px Proxima Nova Alt;
  text-align: left;
  font: normal normal 600 22px/30px Proxima Nova Alt;
  letter-spacing: -0.84px;
  color: #163235;
}
.blog .blog-box .blog2 .blog2-box .blog22 {
  width: 245px;
  height: 30px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 22px/30px Proxima Nova Alt;
  text-align: left;
  font: normal normal 600 22px/30px Proxima Nova Alt;
  letter-spacing: -0.84px;
  color: #000000;
}
.blog .blog-box .blog2 .blog2-box .blog23 {
  width: 230px;
  height: 30px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 22px/30px Proxima Nova Alt;
  text-align: left;
  font: normal normal 600 22px/30px Proxima Nova Alt;
  letter-spacing: -0.84px;
  color: #000000;
}
.blog .blog-box .blog2 .blog2-box .blog24 {
  width: 230px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 22px/30px Proxima Nova Alt;
  text-align: left;
  font: normal normal 600 22px/30px Proxima Nova Alt;
  letter-spacing: -0.84px;
  color: #000000;
  height: 30px;
}

.subscribe {
  width: 1920px;
  height: 417px;
  background: #eeeeee 0% 0% no-repeat padding-box;
  margin-top: 309px;
}
.subscribe .subscribe-box {
  border: 1px red solid;
  width: 1283px;
  margin: auto;
  height: 427px;
  position: relative;
  bottom: 70px;
  background: #e41c26 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 45px #00000026;
  border-radius: 20px;
  justify-content: center;
}
.subscribe .subscribe-box .subscribe-subbox {
  width: 1110px;
  height: 244px;
  border: 1px blue solid;
}
.subscribe .subscribe-box .subscribe-subbox .subscribe-subbox2 {
  justify-content: center;
}
.subscribe .subscribe-box .subscribe-subbox .subscribe-subbox2 form input {
  width: 300px;
  margin-bottom: 28px;
  height: 58px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #ededed;
}
.subscribe .subscribe-box .subscribe-subbox .subscribe-subbox2 form button {
  width: 300px;
  height: 56px;
  background: #111111 0% 0% no-repeat padding-box;
  outline: none;
  border: none;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) SF Pro Display;
  text-align: center;
  font: normal normal medium 16px/21px SF Pro Display;
  letter-spacing: 0.8px;
  color: #ffffff;
  text-transform: uppercase;
}
.subscribe .subscribe-box .subscribe-subbox .subscribe-subbox1 {
  width: 750px;
  border: 1px blue solid;
  height: 244px;
}
.subscribe .subscribe-box .subscribe-subbox .subscribe-subbox1 .subscribe-subbox11 {
  width: 450px;
  height: 80px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 60px/56px Futura-Bold;
  text-align: left;
  font: normal normal normal 60px/56px Futura-Bold;
  letter-spacing: 3px;
  color: #ffffff;
  text-transform: uppercase;
}
.subscribe .subscribe-box .subscribe-subbox .subscribe-subbox12 {
  width: 700px;
  height: 48px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 36px/56px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 36px/56px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.subscribe .subscribe-box .subscribe-subbox .subscribe-subbox13 {
  width: 650px;
  height: 55px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 18px/24px Futura;
  letter-spacing: 0px;
  color: #ffffff;
}

.footer {
  width: 1920px;
  height: 482px;
}
.footer .footer1 {
  height: 462px;
  background: #111111 0% 0% no-repeat padding-box;
  justify-content: center;
}
.footer .footer1 .footer-main {
  display: flex;
  position: relative;
  left: 100px;
  border: #0011ff solid 2px;
}
.footer .footer1 .footer-main .footer11 {
  width: 240px;
  border: #ff00bf solid 2px;
  margin-right: 245px;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info3 {
  display: flex;
  margin-top: 44.5px;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info3 div {
  margin-right: 25.5px;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info3 div:nth-child(1) {
  width: 32px;
  height: 32px;
  background: transparent url("../Images/Path 170.png") 0% 0% no-repeat padding-box;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info3 div:nth-child(2) {
  width: 32px;
  height: 32px;
  background: transparent url("../Images/Path 171.svg") 0% 0% no-repeat padding-box;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info3 div:nth-child(3) {
  width: 32px;
  height: 32px;
  background: transparent url("../Images/Group 159.svg") 0% 0% no-repeat padding-box;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info2 {
  margin-top: 19px;
  display: flex;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info2 div:nth-child(1) {
  background: transparent url("../Images/phone.svg") 0% 0% no-repeat padding-box;
  width: 15px;
  height: 15px;
  margin-right: 13px;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info2 div:nth-child(2) {
  width: 89px;
  height: 21px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/21px Futura;
  letter-spacing: 0px;
  color: #ffffff;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info1 {
  display: flex;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info1 div:nth-child(1) {
  margin-right: 15px;
  width: 12px;
  height: 17px;
  background: transparent url("../Images/location-sharp.svg") 0% 0% no-repeat padding-box;
}
.footer .footer1 .footer-main .footer11 .footer11-info .footer11-info1 div:nth-child(2) {
  width: 200px;
  height: 42px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/21px Futura;
  letter-spacing: 0px;
  color: #ffffff;
}
.footer .footer1 .footer-main .footer11 .footer11-image {
  background: transparent url("../Images/Group 204.svg") 0% 0% no-repeat padding-box;
  width: 220px;
  height: 88px;
  position: relative;
  top: -38px;
}
.footer .footer1 .footer-main .footer12 {
  border: #7bff00 solid 2px;
  display: flex;
}
.footer .footer1 .footer-main .footer12 .footer12-box1 {
  border: 1px red solid;
}
.footer .footer1 .footer-main .footer12 .footer12-box1 h1 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-32) Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 24px/32px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 41px;
}
.footer .footer1 .footer-main .footer12 .footer12-box1 div {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/21px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 29px;
  margin-right: 210px;
  border: 1px red solid;
}
.footer .footer2 {
  height: 60px;
  background: #000000 0% 0% no-repeat padding-box;
  justify-content: center;
}
.footer .footer2 div {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 16px/21px Futura;
  letter-spacing: 0px;
  color: #ffffff;
}

.slider {
  background: transparent url("../Images/Group 13.png") 0% 0% no-repeat padding-box;
  height: 830px;
}

.slide-show {
  position: relative;
}
.slide-show .slider-content {
  width: 329px;
  height: 399px;
  border-left: 10px solid #f60000;
  border-top: 10px solid #f60000;
  border-bottom: 10px solid #f60000;
  position: relative;
  top: 215px;
  left: 320px;
}
.slide-show .slider-content .slider-content-sub1 {
  border-right: 10px #f60000 solid;
  height: 20px;
}
.slide-show .slider-content .slider-content-sub2 {
  border-right: 10px #f60000 solid;
  height: 20px;
}
.slide-show .slider-content .slider-content-sub {
  height: 340px;
  width: 400px;
  margin-left: 20px;
  border: transparent 2px solid;
}
.slide-show .slider-content .slider-content-sub #join-box {
  width: 44px;
  height: 44px;
  border-left: 3px solid #f60000;
  border-bottom: 3px solid #f60000;
  position: absolute;
  left: 13px;
  bottom: 40px;
}
.slide-show .slider-content .slider-content-sub div:nth-child(1) {
  margin-top: 31.5px;
  width: 200px;
  height: 33px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 25px/33px SF Pro Display;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 25px/33px SF Pro Display;
  letter-spacing: 0px;
  color: #ffffff;
}
.slide-show .slider-content .slider-content-sub div:nth-child(2) {
  width: 600px;
  height: 132px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 99px/132px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 99px/132px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
}
.slide-show .slider-content .slider-content-sub div:nth-child(3) {
  width: 296px;
  height: 53px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 40px/53px Futura;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 40px/53px Futura;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
}
.slide-show .slider-content .slider-content-sub div:nth-child(4) {
  position: relative;
  width: 189px;
  height: 57px;
  border: 1px solid #ffffff;
}
.slide-show .slider-content .slider-content-sub div:nth-child(4) #join-text {
  font: var(--unnamed-font-style-normal) normal 300 20px/27px SF Pro Display;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal 300 20px/27px SF Pro Display;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  bottom: 5px;
  left: -5px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
