$primary: #ff0000;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dFlex {
  display: flex;
  align-items: center;
}
.margin-h {
  margin: 60px 0px 60px 0px;
}
:root {
  /* Colors: */
  --unnamed-color-181a27: #181a27;
  --unnamed-color-090d17: #090d17;
  --unnamed-color-17b241: #17b241;

  /* Font/text values */
  --unnamed-font-family-sf-compact-display: SF Compact Display;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-600: 37.5rem;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-9: 0.563rem;
  --unnamed-font-size-11: 0.688rem;
  --unnamed-font-size-12: 0.75rem;
  --unnamed-font-size-14: 0.875rem;
  --unnamed-font-size-16: 1rem;
  --unnamed-font-size-18: 1.125rem;
  --unnamed-font-size-24: 1.5rem;
  --unnamed-character-spacing-0: 0rem;
  --unnamed-line-spacing-12: 0.75rem;
  --unnamed-line-spacing-15: 0.938rem;
  --unnamed-line-spacing-16: 1rem;
  --unnamed-line-spacing-19: 1.188rem;
  --unnamed-line-spacing-21: 1.313rem;
  --unnamed-line-spacing-24: 1.5rem;
  --unnamed-line-spacing-32: 2rem;
  // font-size: 32px;
}

//////////////////// Header Section ////////////////////
.header {
  // width: 100%;

  display: grid;
  // grid-template-columns: 18rem 1fr;
  grid-template-columns: 25% 75%;

  grid-template-areas:
    "logo top"
    "logo nav";
  .header-logo {
    grid-area: logo;
    padding: 0.625rem;
    cursor: pointer;
    @extend .dFlex;
    justify-content: center;
    background-color: #e41c26;
    // img{
    //   // transform: scale(20vw);
    // }
  }

  .top-header {
    grid-area: top;
    // min-height: 48px;
    background: #111111 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #eeeeee;
    @extend .dFlex;
    justify-content: space-between;
    flex-wrap: wrap;

    .info-header {
      @extend .dFlex;

      flex-wrap: wrap;
      .info-header1 {
        @extend .dFlex;

        margin-right: 4.375rem;
        margin-left: 1.25rem;
        div {
          margin-right: 0.813rem;
          cursor: pointer;
        }
      }
      .info-header2 {
        @extend .dFlex;

        div {
          margin-right: 0.813rem;
          cursor: pointer;
        }
      }
    }
    .social-icon {
      @extend .dFlex;
      div {
        border-left: #2a2a2a 0.063rem solid;
        height: 100%;
        padding: 0.625rem;
        cursor: pointer;
      }
      div:hover {
        background-color: #5e5e5e;
      }
      .instagram-icon {
        border-right: #2a2a2a 0.063rem solid;
      }
    }
  }
  .nav-header {
    grid-area: nav;

    .navbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .navbar-links {
        .home {
          color: #e41c26;
        }
        ul {
          display: flex;
          li {
            list-style: none;
            a {
              text-decoration: none;
              color: #111111;
              padding: 1rem;
              display: block;
              font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
                var(--unnamed-line-spacing-21) Futura;
              letter-spacing: var(--unnamed-character-spacing-0);

              font: normal normal normal 1rem Futura;
              letter-spacing: 0rem;
              color: #000000;
              text-transform: uppercase;
            }
          }
          li:hover {
            background-color: #5e5e5e;
            a {
              color: white;
            }
          }
        }
      }
    }
  }
}

//////////////////// Category Section ////////////////////

.Category {
  display: grid;
  // grid-template-columns: 1.3fr 1fr 1.3fr;
  grid-template-columns: 35% 30% 35%;
  grid-template-areas: "box1 box2 box3";
  grid-auto-rows: 24.438rem;
  .progression {
    @extend .dFlex;
    position: relative;
    justify-content: flex-end;
    grid-area: box1;
    background: hsl(0, 0%, 13%) 0% 0% no-repeat padding-box;
    .back-image {
      width: 10.375rem;
      height: 9.25rem;
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: 0.1;
    }
    .progression-box {
      width: 15.875rem;
      text-align: center;
      margin-right: 3.063rem;

      .progression-box1 {
        @extend .dFlex;
        justify-content: center;

        margin-bottom: 1.438rem;
        div {
          width: 4.938rem;
          height: 4.375rem;
          background: transparent url("../Images/16-express.svg") 0% 0%
            no-repeat padding-box;
        }
      }
      .progression-box2 {
        margin-bottom: 1.25rem;

        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) 1.625rem/2.188rem Futura;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal bold 1.625rem/2.188rem Futura;
        letter-spacing: 0rem;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
      }
      .progression-box3 {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) / 28px
          SF Pro Display;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: center;
        font: normal normal normal 1rem/1.75rem SF Pro Display;
        letter-spacing: 0rem;
        color: #dedede;
      }
    }
  }
  .workout {
    @extend .dFlex;
    position: relative;
    justify-content: center;

    grid-area: box2;
    background: #eeeeee 0% 0% no-repeat padding-box;
    .back-image {
      width: 9.25rem;
      height: 9.25rem;
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: 0.1;
    }
    .workout-box {
      width: 15.875rem;
      text-align: center;
      @extend .dFlex;
      flex-direction: column;
      justify-content: center;

      .workout-box1 {
        width: 4.25rem;
        height: 4.25rem;
        margin-bottom: 1.488rem;
      }
      .workout-box2 {
        margin-bottom: 1.25rem;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) 1.625rem/2.188rem Futura;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal bold 1.625rem/2.188rem Futura;
        letter-spacing: 0rem;
        color: #e41c26;
        text-transform: uppercase;
      }
      .workout-box3 {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) / 28px
          SF Pro Display;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: center;
        font: normal normal normal 1rem/1.75rem SF Pro Display;
        letter-spacing: 0rem;
        color: #515151;
      }
    }
  }
  .nutrition {
    @extend .dFlex;
    position: relative;

    grid-area: box3;
    background: #e41c26 0% 0% no-repeat padding-box;
    .back-image {
      width: 7.063rem;
      height: 9.25rem;
      position: absolute;
      left: 15.063rem;
      bottom: 0;
      opacity: 0.2;
    }
    .nutrition-box {
      @extend .dFlex;
      flex-direction: column;
      justify-content: center;
      width: 15.875rem;
      text-align: center;
      margin-right: 3.125rem;

      margin-left: 3.125rem;
      .nutrition-box1 {
        width: 3.25rem;
        height: 4.313rem;
        margin-bottom: 1.488rem;
      }
      .nutrition-box2 {
        margin-bottom: 1.25rem;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) 1.625rem/2.188rem Futura;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal bold 1.625rem/2.188rem Futura;
        letter-spacing: 0rem;
        color: #ffffff;
        text-transform: uppercase;
      }
      .nutrition-box3 {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) / 28px
          SF Pro Display;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: center;
        font: normal normal normal 1rem/1.75rem SF Pro Display;
        letter-spacing: 0rem;
        color: #dedede;
      }
    }
  }
}

//////////////////// Reviews Section ////////////////////

.reviews {
  @extend .dFlex;
  justify-content: center;

  margin-top: 4.938rem;
  margin-bottom: 4.938rem;

  .reviews-box {
    @extend .dFlex;
    justify-content: center;
    flex-wrap: wrap;
    .first-box {
      margin: 0 1.25rem 1.875rem 1.25rem;
      position: relative;

      .box1 {
        max-width: 7.813rem;
        min-height: 1.375rem;
        text-align: left;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) 1.063rem/1.375rem SF Pro Display;
        font: normal normal bold 1.063rem/1.375rem SF Pro Display;
        letter-spacing: 0.079rem;
        color: #5e5e5e;
        text-transform: uppercase;
        opacity: 1;
      }
      .box2 {
        max-width: 23.938rem;
        min-height: 9.125rem;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) 3.688rem/4.188rem Futura;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal bold 3.688rem/4.188rem Futura;
        letter-spacing: 0rem;
        color: #000000;
        text-transform: capitalize;
      }
      .box3 {
        max-width: 6.563rem;
        min-height: 1.5rem;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
          var(--unnamed-line-spacing-24) SF Pro Display;
        text-align: left;
        font: normal normal normal 1.125rem/1.5rem SF Pro Display;
        letter-spacing: 0.084rem;
        color: #7e7e7e;
        text-transform: capitalize;
        margin-bottom: 0.625rem;
      }
      .box4 {
        max-width: 18.75rem;
        min-height: 1.875rem;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) 1.375rem/1.875rem SF Pro Display;
        text-align: left;
        font: normal normal bold 1.375rem/1.875rem SF Pro Display;
        letter-spacing: 0.103rem;
        color: #000000;
        text-transform: uppercase;
        margin-bottom: 0.25rem;
      }
      .box5 {
        @extend .dFlex;
        margin-bottom: 2.75rem;
        div:nth-child(1) {
          width: 0.813rem;
          height: 0.813rem;
          background: transparent url("../Images/Icon awesome-star.png") 0% 0%
            no-repeat padding-box;
        }
        div {
          margin-right: 0.563rem;
        }
        div:nth-child(2) {
          width: 0.813rem;
          height: 0.813rem;
          background: transparent url("../Images/Icon awesome-star.png") 0% 0%
            no-repeat padding-box;
        }
        div:nth-child(3) {
          width: 0.813rem;
          height: 0.813rem;
          background: transparent url("../Images/Icon awesome-star.png") 0% 0%
            no-repeat padding-box;
        }
        div:nth-child(4) {
          width: 0.813rem;
          height: 0.813rem;
          background: transparent url("../Images/Icon awesome-star.png") 0% 0%
            no-repeat padding-box;
        }
        div:nth-child(5) {
          width: 0.813rem;
          height: 0.813rem;
          background: transparent url("../Images/Icon awesome-star.png") 0% 0%
            no-repeat padding-box;
        }
      }
      .box6 {
        max-width: 32.563rem;

        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) / 28px
          Futura;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal medium 1.125rem/1.75rem Futura;
        letter-spacing: 0rem;
        color: #7e7e7e;
      }
      .box {
        width: 11.625rem;
        height: 0.313rem;
        background: #e41c26 0% 0% no-repeat padding-box;
        margin-bottom: 2.875rem;
      }
      .box7 {
        @extend .dFlex;
        margin-top: 0.688rem;
        .box7-box2 {
          background: transparent
            url("../Images/Icon material-keyboard-arrow-right.svg") 0% 0%
            no-repeat padding-box;
          width: 0.5rem;
          height: 0.75rem;
        }
        .box7-box1 {
          background: transparent
            url("../Images/Icon material-keyboard-arrow-left.svg") 0% 0%
            no-repeat padding-box;
          width: 0.5rem;
          height: 0.75rem;
          margin-right: 30px;
        }
      }
      .review-back-img {
        width: 9.5rem;
        min-height: 6.125rem;
        background: transparent url("../Images/Group 36.svg") 0% 0% no-repeat
          padding-box;
        position: absolute;
        right: 0;
      }
    }
    .review-img-box {
      max-width: 30rem;

      margin: 0 1.25rem 0 1.25rem;
      // overflow: hidden;
      @extend .dFlex;
      justify-content: center;
      .review-img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

//////////////////// Choose Us Section ////////////////////

.chooseus {
  position: relative;

  min-height: 40.625rem;

  @extend .dFlex;
  justify-content: center;
  background: #111111 0% 0% no-repeat padding-box;
  .main-content {
    width: 100%;
    @extend .dFlex;
    justify-content: center;
    flex-direction: column;

    .line1 {
      width: 11.625rem;
      height: 0.313rem;
      background: #e41c26 0% 0% no-repeat padding-box;
      position: relative;
      bottom: 1.25rem;
    }
    .box1 {
      max-width: 37.5rem;
      min-height: 4.938rem;
      margin-bottom: 1.375rem;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 3.688rem/4.938rem Futura;
      letter-spacing: var(--unnamed-character-spacing-0);
      text-align: center;
      font: normal normal bold 3.688rem/4.938rem Futura;
      letter-spacing: 0rem;
      color: #ffffff;
      text-transform: uppercase;
      opacity: 1;
      z-index: 20;
    }
    .box2 {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 0.125rem;
      max-width: 36.75rem;
      min-height: 8rem;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 6rem/8rem SF Pro Display;
      text-align: center;
      font: normal normal bold 6.188rem/8rem SF Pro Display;
      letter-spacing: 1.17rem;
      color: #5e5e5e;
      text-transform: uppercase;
      position: absolute;
      left: 15.625rem;
      top: 9.375rem;
      z-index: 10;
    }
    .box3 {
      max-width: 51.313rem;
      min-height: 3.688rem;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-medium) 1.25rem/1.688rem Futura;
      letter-spacing: var(--unnamed-character-spacing-0);
      text-align: center;
      font: normal normal medium 1.25rem/1.688rem Futura;
      letter-spacing: 0rem;
      color: #d1d1d1;
      margin-bottom: 6.813rem;
    }
    .box4 {
      @extend .dFlex;
      justify-content: center;
      flex-wrap: wrap;

      width: 100%;
      margin-top: -3.125rem;

      .tops {
        @extend .dFlex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        max-width: 16rem;
        min-height: 16rem;
        margin: 0.625rem;
        background: #2a2a2a 0% 0% no-repeat padding-box;
        .tops1 {
          // width: 54px;
          // height: 30px;
          margin-bottom: 1.313rem;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) 1.375rem/1.875rem Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal bold 1.375rem/1.875rem Futura;
          letter-spacing: 0rem;
          color: #ffffff;
          text-transform: uppercase;
        }
        .tops2 {
          width: 5.688rem;
          height: 6.188rem;
          margin-bottom: 1.469rem;
          background: transparent url("../Images/Group 22.svg") 0% 0% no-repeat
            padding-box;
        }
        .tops3 {
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) / 28px
            Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal medium 1.125rem/1.75rem Futura;
          letter-spacing: 0rem;
          color: #d1d1d1;
        }
      }
      .bottoms {
        @extend .dFlex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        margin: 0.625rem;
        max-width: 16rem;
        min-height: 16rem;
        background: #2a2a2a 0% 0% no-repeat padding-box;
        .bottoms1 {
          width: 6.625rem;
          height: 1.875rem;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) 1.375rem/1.875rem Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal bold 1.375rem/1.875rem Futura;
          letter-spacing: 0rem;
          color: #ffffff;
          text-transform: uppercase;
          margin-bottom: 1.313rem;
        }
        .bottoms2 {
          margin-bottom: 1.438rem;
          width: 3.5rem;
          height: 6.188rem;
          background: transparent url("../Images/Group 22(1).svg") 0% 0%
            no-repeat padding-box;
        }
        .bottoms3 {
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) / 28px
            Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal medium 1.125rem/1.75rem Futura;
          letter-spacing: 0rem;
          color: #d1d1d1;
        }
      }
      .hoodies {
        @extend .dFlex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        margin: 0.625rem;
        max-width: 16rem;
        min-height: 16rem;
        background: #2a2a2a 0% 0% no-repeat padding-box;
        .hoodies1 {
          width: 19.125rem;
          height: 1.875rem;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) 1.375rem/1.875rem Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal bold 1.375rem/1.875rem Futura;
          letter-spacing: 0rem;
          color: #ffffff;
          text-transform: uppercase;
          margin-bottom: 1.313rem;
        }
        .hoodies2 {
          margin-bottom: 1.438rem;
          width: 5.313rem;
          height: 6.125rem;
          background: transparent url("../Images/Group 22(2).svg") 0% 0%
            no-repeat padding-box;
        }
        .hoodies3 {
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) / 28px
            Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal medium 1.125rem/1.75rem Futura;
          letter-spacing: 0rem;
          color: #d1d1d1;
        }
      }
      .accessories {
        @extend .dFlex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        margin: 0.625rem;
        background: #2a2a2a 0% 0% no-repeat padding-box;
        max-width: 16rem;
        min-height: 16rem;
        .accessories1 {
          width: 19.125rem;
          height: 1.875rem;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) 1.375rem/1.875rem Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal bold 1.375rem/1.875rem Futura;
          letter-spacing: 0rem;
          color: #ffffff;
          text-transform: uppercase;
          margin-bottom: 1.313rem;
        }
        .accessories2 {
          margin-bottom: 1.438rem;
          width: 6.25rem;
          height: 6.125rem;
          background: transparent url("../Images/Group 22(3).svg") 0% 0%
            no-repeat padding-box;
        }
        .accessories3 {
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) / 28px
            Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal medium 1.125rem/1.75rem Futura;
          letter-spacing: 0rem;
          color: #d1d1d1;
        }
      }
    }
  }
}

//////////////////// Video Section ////////////////////

.video {
  max-height: 37.5rem;

  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 5rem;
  .video1 {
    width: 7.5rem;
    margin-top: 2.5rem;
    height: 22.875rem;

    div {
      transform: rotate(90deg);
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 7.688rem/10.25rem SF Pro Display;
      text-align: center;
      font: normal normal bold 8vw/10.25rem SF Pro Display;
      letter-spacing: 1.499rem;
      color: #5e5e5e;
      text-transform: uppercase;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 0.125rem;
    }
  }
  .video2 {
    position: absolute;
    z-index: 10;
    max-width: 54.688rem;
    height: 40rem;
    object-fit: cover;
    left: 10.25rem;
    top: 4.375rem;
    margin-top: 3.125rem;

    img {
      width: 100%;
    }
  }
  .video3 {
    width: 80%;
    height: auto;

    z-index: 20;
    .video3-content {
      width: 100%;
      height: 30rem;
      .video-player {
        width: 100%;
        height: 100%;
      }
    }
  }
}

//////////////////// Blog Section ////////////////////

.blog {
  min-height: 61rem;
  @extend .dFlex;
  flex-direction: column;
  // border: red solid 2px;

  justify-content: center;
  .blog-box {
    @extend .dFlex;
    flex-direction: column;
    // justify-content: center;
    flex-wrap: wrap;

    max-width: 80.188rem;

    margin-top: 1.156rem;
    margin-bottom: 4.563rem;
    .blog1 {
      @extend .dFlex;
      justify-content: center;
      flex-direction: column;
      max-width: 51.313rem;
      min-height: 9.875rem;

      .blog11 {
        max-width: 44.625rem;
        min-height: 4.938rem;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) 3.688rem/4.938rem Futura;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: center;
        font: normal normal bold 3.688rem/4.938rem Futura;
        letter-spacing: 0rem;
        color: #000000;
        text-transform: capitalize;
      }
      .blog12 {
        max-width: 11.625rem;
        min-height: 0.313rem;
        background: #e41c26 0% 0% no-repeat padding-box;
        margin-top: 0.313rem;
        margin-bottom: 0.625rem;
      }
      .blog13 {
        max-width: 51.313rem;
        min-height: 3.688rem;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-medium) 1.25rem/1.688rem Futura;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: center;
        font: normal normal medium 1.25rem/1.688rem Futura;
        letter-spacing: 0rem;
        color: #7e7e7e;
      }
    }
    .blog2 {
      max-width: 1100px;
      // border: solid 2px red;
      min-height: 4.688rem;

      margin-top: 1.875rem;
      @extend .dFlex;
      flex-direction: column;
      justify-content: center;

      .blog2-box {
        max-width: 100%;
        min-height: 3.125rem;
        transition: 1s;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .blog21 {
          padding: 1.25rem;
          border-bottom: 0.063rem solid #a7a7a7;
          cursor: pointer;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-600) 1.375rem/1.875rem Proxima Nova Alt;
          text-align: left;
          font: normal normal 600 1.375rem/1.875rem Proxima Nova Alt;
          letter-spacing: -0.053rem;
          color: #163235;
        }

        .activate {
          border-bottom: 0.313rem solid #163235;
        }
      }
    }
  }
  .blog3 {
    max-width: 68.75rem;

    @extend .dFlex;
    justify-content: space-around;
    flex-wrap: wrap;

    .blog3-box {
      cursor: pointer;
      max-width: 19rem;
      min-height: 18.75rem;
      margin: 1.5rem;
      // display: inline-block;
      .blog3-img1 {
        max-width: 100%;
        min-height: 12.5rem;
        background-image: url("../Images/Group 13.png");
        background-size: 100% 100%;
        box-shadow: 0rem 0.375rem 1.563rem #0000000f;
        border-radius: 1.25rem;

        position: relative;

        .blog3-img1-date {
          width: 4.125rem;
          height: 3.938rem;
          text-align: center;

          color: #ffffff;
          text-transform: uppercase;
          background: #e41c26 0% 0% no-repeat padding-box;
          position: absolute;
          bottom: 0.938rem;
          left: 0.938rem;
          .blog3-date1 {
            font-size: x-large;
            margin-top: 0.313rem;
          }
        }
      }
      .blog3-img2 {
        max-width: 100%;
        min-height: 12.5rem;
        background: transparent url("../Images/Rectangle 33.png") 0% 0%
          no-repeat padding-box;
        box-shadow: 0rem 0.375rem 1.563rem #0000000f;
        border-radius: 1.25rem;

        position: relative;
        .blog3-img1-date {
          width: 4.125rem;
          height: 3.938rem;
          text-align: center;

          color: #ffffff;
          text-transform: uppercase;
          background: #e41c26 0% 0% no-repeat padding-box;
          position: absolute;
          bottom: 0.938rem;
          left: 0.938rem;
          .blog3-date1 {
            font-size: x-large;
            margin-top: 0.313rem;
          }
        }
      }
      .blog3-img3 {
        max-width: 100%;
        position: relative;
        min-height: 12.5rem;
        background: transparent url("../Images/Rectangle 34.png") 0% 0%
          no-repeat padding-box;
        box-shadow: 0rem 0.375 1.563rem #0000000f;
        border-radius: 1.25rem;

        .blog3-img1-date {
          width: 4.125rem;
          height: 3.938rem;
          text-align: center;

          color: #ffffff;
          text-transform: uppercase;
          background: #e41c26 0% 0% no-repeat padding-box;
          position: absolute;
          bottom: 0.938rem;
          left: 0.938rem;
          .blog3-date1 {
            font-size: x-large;
            margin-top: 0.313rem;
          }
        }
      }
      .blog3-info {
        .blog3-info1 {
          @extend .dFlex;
          justify-content: space-around;
          flex-wrap: wrap;
          margin-top: 1.5rem;
          margin-bottom: 0.75rem;
          .blog-icon-flex {
            display: flex;
            .blog-icon {
              color: #e41c26;
              margin-right: 0.313rem;
            }
            .blog-icon-text {
              font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
                var(--unnamed-line-spacing-19) SF Pro Display;
              text-align: left;
              font: normal normal normal 0.75rem/1.188rem SF Pro Display;
              letter-spacing: 0.066rem;
              color: #7e7e7e;
              text-transform: uppercase;
              margin-right: 0.625rem;
            }
          }
        }
        .blog3-info2 {
          max-width: 24rem;
          min-height: 2.813rem;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-bold) 1rem/1.875rem SF Pro Display;
          text-align: left;
          font: normal normal bold 1rem/1.875rem SF Pro Display;
          letter-spacing: 0.103rem;
          color: #000000;
          text-transform: uppercase;
        }
        .blog3-info3 {
          max-width: 24.313rem;
          min-height: 5.625rem;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) / 31px
            Futura;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: left;
          font: normal normal medium 1.125rem/1.938rem Futura;
          letter-spacing: 0rem;
          color: #7e7e7e;
        }
        .blog3-info4 {
          max-width: 11.25rem;
          min-height: 3.125rem;
          border: 0.063rem solid #000000;
          @extend .dFlex;
          justify-content: center;
          div {
            font: var(--unnamed-font-style-normal) normal 300
              var(--unnamed-font-size-16) / var(--unnamed-line-spacing-21) SF
              Pro Display;
            text-align: center;
            font: normal normal 300 0.875rem/1.313rem SF Pro Display;
            letter-spacing: 0.05rem;
            color: #000000;
            text-transform: uppercase;
          }
        }
      }
    }
    .blog3-box:hover {
      .blog3-info {
        .blog3-info4:hover {
          div {
            color: white;
          }
          border: none;
          background-color: #696b69;
          transition: 0.5s;
        }
      }

      // transition: all 0.4s ease-in-out;
    }
  }
}

//////////////////// Subscribe Section ////////////////////

.subscribe {
  background: #eeeeee 0% 0% no-repeat padding-box;
  margin-top: 6.813rem;

  .subscribe-box {
    max-width: 75rem;
    margin: auto;
    min-height: 26.688rem;
    position: relative;
    bottom: 4.375rem;
    background: #e41c26 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 45px #00000026;
    border-radius: 1.25rem;
    @extend .dFlex;
    justify-content: center;

    .subscribe-subbox {
      max-width: 70rem;
      min-height: 14rem;

      margin: 1.25rem;
      @extend .dFlex;
      flex-wrap: wrap;
      .subscribe-subbox2 {
        @extend .dFlex;
        justify-content: center;

        form {
          input {
            width: 18.75rem;
            margin: 0rem 0.625rem 1.75rem 0.625rem;

            height: 3rem;
            border-radius: 0.5rem;
            background: #ffffff 0% 0% no-repeat padding-box;
            border: 2px solid #ededed;
          }
          button {
            cursor: pointer;
            width: 18.75rem;
            height: 3.5rem;
            margin-left: 0.625rem;
            background: #111111 0% 0% no-repeat padding-box;
            outline: none;
            border: none;
            font: var(--unnamed-font-style-normal) normal
              var(--unnamed-font-weight-medium) var(--unnamed-font-size-16) /
              var(--unnamed-line-spacing-21) SF Pro Display;
            text-align: center;
            font: normal normal medium 1rem/1.313rem SF Pro Display;
            letter-spacing: 0.05rem;
            color: #ffffff;
            text-transform: uppercase;
          }
        }
      }
      .subscribe-subbox1 {
        max-width: 37.5rem;
        min-height: 15.25rem;
        margin-bottom: 1rem;
        .subscribe-subbox11 {
          min-height: 5rem;
          font: var(--unnamed-font-style-normal) normal
            var(--unnamed-font-weight-normal) 60px/56px Futura-Bold;
          text-align: left;
          font: normal normal normal 3.75rem/3.5rem Futura-Bold;
          letter-spacing: 0.188rem;
          color: #ffffff;
          text-transform: uppercase;
        }
      }
      .subscribe-subbox12 {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) 36px/56px Futura;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal normal 2.25rem/3.5rem Futura;
        letter-spacing: 0rem;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }
      .subscribe-subbox13 {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
          var(--unnamed-line-spacing-24) Futura;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal normal 1.125rem/1.5rem Futura;
        letter-spacing: 0rem;
        color: #ffffff;
      }
    }
  }
}

//////////////////// Footer Section ////////////////////

.footer {
  margin-top: 3.125rem;

  .footer1 {
    min-height: 25rem;
    background: #111111 0% 0% no-repeat padding-box;
    @extend .dFlex;
    justify-content: center;
    .footer-main {
      display: flex;

      flex-wrap: wrap;
      .footer11 {
        // width: 15rem;

        .footer11-info {
          .footer11-info3 {
            display: flex;
            margin-top: 2.813rem;
            div {
              margin-right: 1.594rem;
              cursor: pointer;
            }
            div:nth-child(1) {
              width: 2rem;
              height: 2rem;
              background: transparent url("../Images/Path 170.png") 0% 0%
                no-repeat padding-box;
            }
            div:nth-child(2) {
              width: 2rem;
              height: 2rem;
              background: transparent url("../Images/Path 171.svg") 0% 0%
                no-repeat padding-box;
            }
            div:nth-child(3) {
              width: 2rem;
              height: 2rem;
              background: transparent url("../Images/Group 159.svg") 0% 0%
                no-repeat padding-box;
            }
          }
          .footer11-info2 {
            margin-top: 1.188rem;
            cursor: pointer;
            div:hover {
              color: #e41c26;
            }
            display: flex;
            div:nth-child(1) {
              background: transparent url("../Images/phone.svg") 0% 0% no-repeat
                padding-box;
              width: 0.938rem;
              height: 0.938rem;
              margin-right: 0.813rem;
            }
            div:nth-child(2) {
              // width: 89px;

              // height: 21px;
              font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
                var(--unnamed-line-spacing-21) Futura;
              letter-spacing: var(--unnamed-character-spacing-0);
              text-align: left;
              font: normal normal normal 1rem/1.313rem Futura;
              letter-spacing: 0rem;
              color: #ffffff;
            }
          }
          .footer11-info1 {
            display: flex;

            div:nth-child(1) {
              margin-right: 0.938rem;

              width: 0.75rem;
              height: 1.063rem;
              background: transparent url("../Images/location-sharp.svg") 0% 0%
                no-repeat padding-box;
            }
            div:nth-child(2) {
              width: 12.5rem;
              // height: 2.625rem;
              font: var(--unnamed-font-style-normal) normal
                var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
                var(--unnamed-line-spacing-21) Futura;
              letter-spacing: var(--unnamed-character-spacing-0);
              text-align: left;
              font: normal normal normal 1rem/1.313rem Futura;
              letter-spacing: 0rem;
              color: #ffffff;
            }
          }
        }
        .footer11-image {
          background: transparent url("../Images/Group 204.svg") 0% 0% no-repeat
            padding-box;
          width: 13.75rem;
          height: 5.5rem;
          position: relative;
          top: -2.375rem;
        }
        .footer11-image:hover {
          cursor: pointer;
        }
      }
      .footer12 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .footer12-box1 {
          div:hover {
            color: #e41c26;
          }
        }

        .footer12-box1 {
          h1 {
            font: var(--unnamed-font-style-normal) normal
              var(--unnamed-font-weight-medium) var(--unnamed-font-size-24) /
              var(--unnamed-line-spacing-32) Futura;
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: left;
            font: normal normal medium 1, 5rem/2rem Futura;
            letter-spacing: 0px;
            color: #ffffff;
            margin-bottom: 2.563rem;
            margin-left: 5rem;
            margin-right: 5rem;
          }
          div {
            cursor: pointer;
            font: var(--unnamed-font-style-normal) normal
              var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
              var(--unnamed-line-spacing-21) Futura;
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: left;
            font: normal normal normal 1rem/1.313rem Futura;
            letter-spacing: 0px;
            color: #ffffff;
            margin-bottom: 1.813rem;
            margin-left: 5rem;
            margin-right: 5rem;
          }
        }
      }
    }
  }
  .footer2 {
    height: 3.75rem;
    background: #000000 0% 0% no-repeat padding-box;
    @extend .dFlex;
    justify-content: center;
    div {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
        var(--unnamed-line-spacing-21) Futura;
      letter-spacing: var(--unnamed-character-spacing-0);
      text-align: center;
      font: normal normal normal 1rem/1.313rem Futura;
      letter-spacing: 0px;
      color: #ffffff;
    }
  }
}

//////////////////// Slider Section ////////////////////
.leftarrown-container {
  width: 70px;
  margin-right: -30px;
  position: absolute;
  .leftarrown {
    margin-left: 20px;
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
}

.slider {
  background-image: url("../Images/Group 13.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-show {
  position: relative;
  .slider-content {
    max-width: 28vw;

    border-left: 0.625rem solid #f60000;
    border-top: 0.625rem solid #f60000;
    border-bottom: 0.625rem solid #f60000;
    position: absolute;
    top: 5em;
    left: 17vw;
    .slider-content-sub1 {
      border-right: 0.625rem #f60000 solid;
      min-height: 1.25rem;
    }
    .slider-content-sub2 {
      border-right: 0.625rem #f60000 solid;
      min-height: 1.25rem;
    }
    .slider-content-sub {
      min-height: 21.25rem;
      // border: 2px red solid;
      max-width: 25rem;
      margin-left: 1.25rem;
      border: transparent 0.125rem solid;
      #join-box {
        max-width: 2.75rem;
        min-height: 2.75rem;
        border-left: 0.188rem solid #f60000;
        border-bottom: 0.188rem solid #f60000;
        position: relative;
        left: -0.438rem;
        bottom: 0.938rem;
      }
      div:nth-child(1) {
        margin-top: 1.969rem;
        max-width: 12.5rem;
        min-height: 2.063rem;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) 1.563rem/2.063rem SF Pro Display;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal bold 1.563rem/2.063rem SF Pro Display;
        letter-spacing: 0rem;
        color: #ffffff;
      }
      div:nth-child(2) {
        width: 47vw;
        min-height: 8.25rem;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) 6.188rem/8.25rem Futura;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal bold 7vw/8.25rem Futura;
        letter-spacing: 0rem;
        color: #ffffff;
        text-transform: capitalize;
      }
      div:nth-child(3) {
        max-width: 18.5rem;
        min-height: 3.313rem;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-medium) 2.5rem/3.313rem Futura;
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal medium 2.5rem/3.313rem Futura;
        letter-spacing: 0rem;
        color: #ffffff;
        text-transform: capitalize;
      }
      div:nth-child(4) {
        position: relative;
        width: 11rem;
        min-height: 3.563rem;
        border: 0.063rem solid #ffffff;
        @extend .dFlex;
        justify-content: center;
        margin-bottom: -1.25rem;

        #join-text {
          cursor: pointer;
          position: relative;
          bottom: 0.813rem;
          font: var(--unnamed-font-style-normal) normal 300 1.25rem/1.688rem SF
            Pro Display;
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: center;
          font: normal normal 300 1.25rem/1.688rem SF Pro Display;
          letter-spacing: 0rem;
          color: #ffffff;
          text-transform: uppercase;
        }
      }
      div:nth-child(4):hover {
        background-color: #636864;
        transition: 1s;
      }
    }
  }
}
//////////Choose us Slider//////////////
.mySwiper {
  max-width: 70rem;
  // border: cyan 2px solid;
  .swiper-box:hover {
    background-color: #5e5c5c;
    transition: 1s;
  }
  .swiper-box {
    // border: 2px red solid;
    cursor: pointer;
    height: 16rem;
    background-color: #2a2a2a;
    width: 16rem;
    padding: 16px;
    @extend .dFlex;
    flex-direction: column;
    justify-content: center;
    .tops1 {
      // width: 54px;
      // height: 30px;
      margin-bottom: 0.7rem;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 22px/30px Futura;
      letter-spacing: var(--unnamed-character-spacing-0);
      text-align: center;
      font: normal normal bold 1rem/30px Futura;
      letter-spacing: 0px;
      color: #ffffff;
      text-transform: uppercase;
    }
    .tops2 {
      width: 91px;
      height: 99px;
      margin-bottom: 23.5px;
      background: transparent url("../Images/Group 22.svg") 0% 0% no-repeat
        padding-box;
    }
    .bottoms2 {
      margin-bottom: 23px;
      width: 56px;
      height: 99px;
      background: transparent url("../Images/Group 22(1).svg") 0% 0% no-repeat
        padding-box;
    }
    .hoodies2 {
      margin-bottom: 23px;
      width: 85px;
      height: 98px;
      background: transparent url("../Images/Group 22(2).svg") 0% 0% no-repeat
        padding-box;
    }
    .accessories2 {
      margin-bottom: 23px;
      width: 100px;
      height: 98px;
      background: transparent url("../Images/Group 22(3).svg") 0% 0% no-repeat
        padding-box;
    }

    .tops3 {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) / 28px
        Futura;
      letter-spacing: var(--unnamed-character-spacing-0);
      text-align: center;
      font: normal normal medium 18px/28px Futura;
      letter-spacing: 0px;
      color: #d1d1d1;
    }
  }
}
.review-swiper {
  // .swiperslide-com {

  // }

  .swiper-button-next {
    color: #7e7e7e;
    position: relative;

    top: 31.813rem;
    left: 2.5rem;
  }
  .swiper-button-prev {
    color: #7e7e7e;
    position: relative;
    top: 33.219rem;
    left: 0rem;
  }

  margin-bottom: 1.25rem;
  .box1 {
    max-width: 1.563rem;
    min-height: 1.375rem;
    text-align: left;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) 1.063rem/1.375rem SF Pro Display;
    font: normal normal bold 1.063rem/1.375rem SF Pro Display;
    letter-spacing: 0.079rem;
    color: #5e5e5e;
    text-transform: uppercase;
  }
  .box2 {
    max-width: 5.188rem;
    min-height: 9.125rem;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) 3.688rem/4.188rem Futura;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 3.688rem/4.188rem Futura;
    letter-spacing: 0rem;
    color: #000000;
    text-transform: capitalize;
  }
  .box3 {
    max-width: 6.563rem;
    min-height: 1.5rem;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
      var(--unnamed-line-spacing-24) SF Pro Display;
    text-align: left;
    font: normal normal normal 1.125rem/1.5rem SF Pro Display;
    letter-spacing: 0.084rem;
    color: #7e7e7e;
    text-transform: capitalize;
    margin-bottom: 0.625rem;
  }
  .box4 {
    max-width: 17.5rem;
    min-height: 1.875rem;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) 1.375rem/1.875rem SF Pro Display;
    text-align: left;
    font: normal normal bold 1.375rem/1.875rem SF Pro Display;
    letter-spacing: 0.103rem;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
  }
  .box5 {
    @extend .dFlex;
    margin-bottom: 2.75rem;
    div:nth-child(1) {
      width: 0.813rem;
      height: 0.813rem;
      background: transparent url("../Images/Icon awesome-star.png") 0% 0%
        no-repeat padding-box;
    }
    div {
      margin-right: 0.563rem;
    }
    div:nth-child(2) {
      width: 0.813rem;
      height: 0.813rem;
      background: transparent url("../Images/Icon awesome-star.png") 0% 0%
        no-repeat padding-box;
    }
    div:nth-child(3) {
      width: 0.813rem;
      height: 0.813rem;
      background: transparent url("../Images/Icon awesome-star.png") 0% 0%
        no-repeat padding-box;
    }
    div:nth-child(4) {
      width: 0.813rem;
      height: 0.813rem;
      background: transparent url("../Images/Icon awesome-star.png") 0% 0%
        no-repeat padding-box;
    }
    div:nth-child(5) {
      width: 0.813rem;
      height: 0.813rem;
      background: transparent url("../Images/Icon awesome-star.png") 0% 0%
        no-repeat padding-box;
    }
  }
  .box6 {
    max-width: 32.563rem;

    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) / 28px
      Futura;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal medium 1.125rem/1.75rem Futura;
    letter-spacing: 0rem;
    color: #7e7e7e;
  }
}
// .swiper-pagination-bullet {
// }
// .swiper-pagination-bullet-active {
// }

@media only screen and (max-width: 73.625rem) {
  .footer-main {
    justify-content: center;
  }
  .footer11 {
    margin-top: 3.125rem;
    margin-bottom: 0.625rem;
  }
}

@media only screen and (max-width: 65.813rem) {
  .subscribe-subbox {
    justify-content: center;
  }

  .header {
    .header-logo {
      width: 100%;
    }
  }
  .chooseus {
    .main-content {
      margin-top: 3.125rem;
      margin-bottom: 3.125rem;
    }
  }
}
@media only screen and (max-width: 59.375rem) {
  .header {
    grid-template-areas:
      "logo logo"
      "top top"
      "nav nav";
  }
  .Category {
    grid-template-areas:
      "box1"
      "box2"
      "box3";
    .progression {
      grid-column: 1 / -1;
      justify-content: center;

      .progression-box {
        margin-right: 0rem;
      }
    }
    .workout {
      grid-column: 1 / -1;
    }
    .nutrition {
      grid-column: 1 / -1;
      justify-content: center;

      margin-left: -3.125rem;
      .nutrition-box {
        margin-right: 0rem;
      }
    }
  }
}
@media only screen and (max-width: 50rem) {
  .video {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;

    .video1 {
      margin-left: 5rem;
      transform: rotate(-90deg);
      width: 4.625rem;
      margin-top: 0rem;
      margin-bottom: -3.125rem;
    }

    .video2 {
      display: none;
    }
    .video3 {
      width: 100%;
    }
  }
}

@media screen and (max-width: 43.75rem) {
  .header {
    .top-header {
      .info-header {
        .info-header1 {
          margin-left: 0rem;
          margin-right: 0rem;
        }
      }
    }
    .header-logo {
      width: 100%;
    }

    .nav-header {
      .navbar-links {
        display: none;
      }
      .navbar {
        flex-direction: column-reverse;
        align-items: flex-end;
      }
      .navbar-links {
        width: 100%;
        ul {
          border: white solid 0.063rem;
          flex-direction: column;
          width: 100%;
        }
        li {
          text-align: center;
        }
      }
      .navbar-links.active {
        display: flex;
      }
    }
    .top-header {
      justify-content: center;
    }
    .info-header {
      justify-content: center;
    }
  }
}
@media only screen and (max-width: 25.625rem) {
  // .video {
  //   height: 350px;
  // }
  .review-swiper {
    .swiper-button-next {
      top: 34.375rem;
    }
    .swiper-button-prev {
      top: 35.688rem;
    }
  }
}

@media only screen and (max-width: 81.25rem) {
}
